html,
body {
  margin: 1rem min(2rem, 5vw);
  font-size: 18px;
}

main {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 2rem;
}

.btn {
  width: 7rem;
}

#dataset-input {
  max-width: 100%;
  padding: 0.3rem;
}

.out-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.out-label {
  text-align: right;
  font-weight: bold;
  width: 50%;
}

.out-value {
  text-align: left;
  min-height: 1.5rem;
  width: 50%;
}

#sorted-dataset {
  max-height: 40vh;
  overflow-y: auto;
}

small {
  font-size: smaller;
}
